#example-modal-sizes-title-lg{
  font-size: 30px;
  font-weight:bold;
}
.body__flex{
  display: flex;
}
.modal-content{
  padding: 0px;
  background-color: #2e3138;
  color: #eee;
}
.modal-header{
  color: #202226;
  background-color: #e93643;
  border-bottom: 3px solid #eee;
}
.body__flex-1{
  padding-right: 10px;
  border-right: 2px solid #eee ;
}
.body__flex-1 > img{
  padding: 25px 1px 2px 2px;
}
.body__flex-2{
  padding-left: 10px;
}
h1{
  font-size: 20px;
  letter-spacing: .5px;
}
h1 > span{
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  padding-right: 2px;
}
h2{
  font-size: 20px;
  letter-spacing: .5px;
}
h2 > span{
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  padding-right: 2px;
}
h3{
  font-size: 20px;
  letter-spacing: .5px;
}
h3 > span{
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  padding-right: 2px;
}
h4{
  font-size: 20px;
  letter-spacing: .5px;
}
h4 > span{
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  padding-right: 2px;
}
h5{
  font-size: 20px;
  letter-spacing: .5px;
}
h5 > span{
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  padding-right: 2px;
}
